.side-bar{
    height: 100vh;
    width: 25%;
    background: red;
    
}
.container{
    justify-content: center;
    display: flex;
}
.main{
    width: 75%;
    height: 100vh;
    background: blue;
}

@media (max-width:768px){
    .side-bar{
        width: 0;
        display: none;
    }
    .main{
        width: 100%;
    } 
}