.my-nav{
    /* height: 100vh; */
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu-link{
    padding:1rem 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: darkblue;
}
.menu-link:hover{
    border-radius: 5px;
    background: darkblue;
    color: lightblue;
}

.hamburger{
    display: none;
    /* flex-direction: column; */
    cursor: pointer;
}

.menu-logo{
    padding: 1rem;
    color:darkblue;
    text-decoration: none;
    font-weight: 800;
    font-size:1.7rem;
}

.my-nav span {
    font-weight: 300;
    font-size: 1.3rem;
}


@media (max-width:768px){
    .nav-menu{
        overflow: hidden;
        flex-direction: column;
        width: 100%;
    }
    .hamburger{
        display: flex;
    }
}